# Application Configuration
NODE_ENV=development
PORT=8080

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:8080,http://localhost:3000

# Backend URL
BACKEND_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000

# Database Configuration
DATABASE_URL=

# Cookie
COOKIE_SECRET_KEY=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY_MS=

# Email Configuration
MAIL_PROVIDER=smtp

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=123
SMTP_PASSWORD=12
SMTP_SECURE=true